[
    {
        "server_name": "Friend Group 1",
        "empty_server_check_interval_millis": 60000,
        "empty_server_duration_until_shutdown_millis": 1800000,
        "start_server_executable": "/home/myusername/minecraft_1.21/run.sh",
        "rcon_host": "127.0.0.1",
        "rcon_port": 25575,
        "rcon_password": "secure_password",
        "rcon_timeout_ms": 15000,
        "discord_server_ids": ["1234"],
        "discord_member_ids": ["5678", "8765"]
    },
    {
        "server_name": "Friend Group 2",
        "empty_server_check_interval_millis": 60000,
        "empty_server_duration_until_shutdown_millis": 1800000,
        "start_server_executable": "/home/myusername/minecraft_1.20/run.sh",
        "rcon_host": "127.0.0.1",
        "rcon_port": 25576,
        "rcon_password": "secure_password",
        "rcon_timeout_ms": 15000,
        "discord_server_ids": ["1234"],
        "discord_member_ids": ["5678", "8765"]
    }
]